@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');


.button {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin: 0 20px;
    border-style: solid;
    opacity: 70%
}

.button:hover {
    opacity: 100%;
    transition: 0.25s ease;
}

.button:active {
    opacity: 60%;
    transition: 0.15s ease;
}

.playButton {
    background-color: #DBE4EE;
    border-color: #A1B8D3;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 0 0 10px #A1B3D3;
    border-style: solid;
    opacity: 90%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.playButton:hover {
    opacity: 100%;
    transition: 0.25s ease;
}

.playButton:active {
    opacity: 60%;
    transition: 0.15s ease;
}

.GameButtons {
    border-radius: 15px;
    padding: 40px 20px;
    justify-content: space-evenly;
    box-shadow: inset 0 0 20px #000000;
    background-color: #1b202c;
    display: flex;
    flex-direction: row;
}

.GameButtons>div {
    margin: 15px 0;
}

.GameButtons>button {
    margin: 5px;
}
.Round{
    color: #DBE4EE;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.Container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-around;
}